body{
    margin: 0;
    padding: 0;
}

/* SECTION NAV */   


.nav-home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navbarSupportedContent{
    justify-content: flex-end;
}

.dropdown-menu.show{
    border: 0;
}

/* SECTION SLICE-IMAGE */
.welcome{
    color: rgb(255, 255, 255);
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 30%;
}

.cont-welcome{
    right: 0;
    left: 0;
    text-align: center;
    background: rgba(66, 66, 66, 0.5);
    transition: all 0.3s ease;
}

.item{
    background: url("../assets/img/imgCsarrusel1.jpg") top center no-repeat;
    padding:20% 0;
    width: 100%;
    position: relative;
     
} 


.slice-image:after{
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0
}


/* Section info-equasystem */

.equa-info{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 0, 0);
}

.phone h3, .email h3{
    font-size: 100%;
}

.phone, .email{
    display: flex;
    flex-direction: row; 
}


.container-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-more{
    background-color: rgb( 20, 58, 121);
}

.info{
    text-align: center;
    padding-bottom: 20px;
    color: rgb( 20, 58, 121);
}

.cardspace{
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}


/* SECTION SLICE-IMAGE  */
.slice-image{
    position: relative;
    background: url("/assets/img/img-company-info/contactUs.jpg") top center no-repeat;
    
}

/* SECTION INFORMATION-COMPANY */
.information-company{
    padding: 80px 0;
}

.container-partners{
    padding: 2%;
}

.info li a{
    color: #222324;
}




/* section features */
.feat-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 0 10%;
    margin: 0 2%;
}

.cont-system{
    padding: 0 10%;
    margin: 0 2%;
}

.title-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 10px;
}

.card:hover
{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);

transition: all 0.3s ease;
cursor: pointer ;
}

/* Section Reviews */


.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.cont-author h3{
    font-size: 1.2rem;
}

.author-coment{
    color: rgb( 20, 58, 121);
    font-weight: bolder;
}

.cont-author:hover
{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);

transition: all 0.3s ease;
cursor: pointer ;
}

.col-lg-4{
    margin-bottom: 10%;
}



/* section system-information */

.system-information{
    padding: 80px 0;
}

.system-information{
    background-color: #F8F9FA;
}

.cont-system{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 15px gray ;
    border-radius: 1%;
}

.title-system h5{
    font-size: 1.7rem;
}

a:hover{
    text-decoration: none;

}

.system-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}


/* Section release */
.releases{
    padding: 80px 0;
}
.cont-release{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.rel-cont{
    margin: 5% 0;
}


/* section contact-us */
.contact-us{
    background: linear-gradient(to top, rgb( 20, 58, 121), rgba(255, 122, 89,0));
    padding: 80px 0;
}

.form-control{
    margin: 10px 0;
}

#sendbtn{
    background-color: #F8F9FA;
}


/* SECTION FOOTER */

.footer{
    background-color: rgb( 20, 58, 121);
    border-top: none;
}

footer .foot-common ul li a{
    color: #dcdcdc;
    text-decoration: none;
}

footer .foot-common h5{
    color: #ffff;
    font-weight: bold;
}
.img-fluid{
    border-radius: 10%;
}

.footer .footer-bottom{
    padding: 20px 0;
    margin: 0 10px;
    color: #ffff;;
}

.list-unstyled li{
    margin: 0 5%;
}


/* TEXT ANIMATION */
.word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }
  

  /* separator decoration */
  hr {
    height: 6px;
	background: #c2c2c2 repeat-x 0 0;
    border: 0;    
}